In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
inicial_dropout = pd.read_csv("edu_drop_initial 2010-2020.csv").dropna().drop(columns = ["2020", "2019", "2018", "2017"])

In [4]:
ini_drop = inicial_dropout.rename(columns = {"2016":"6", "2015":"5", "2014":"4", "2014":"4", "2013":"3", "2012":"2", "2011":"1", "2010":"0"})

In [5]:
 basica_dropout = pd.read_csv("edu_drop_basica 2010-2020.csv").drop(columns = ["Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "2020", "2019", "2018", "2017"]).dropna()

In [6]:
bas_drop = basica_dropout.rename(columns = {"id ": "id","2016":"6", "2015":"5", "2014":"4", "2014":"4", "2013":"3", "2012":"2", "2011":"1", "2010":"0"})

In [7]:
media_dropout = pd.read_csv("edu_drop_media 2010-2020.csv").drop(columns = ["Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16"]).dropna()

In [8]:
med_drop = media_dropout.rename(columns = {"provinces": "province", "2016":"6", "2015":"5", "2014":"4", "2014":"4", "2013":"3", "2012":"2", "2011":"1", "2010":"0"})

In [9]:
inv_sez = pd.read_csv("inv by prov 2010-2016.csv").drop(columns = ["shapeName", "COORD_X", "COORD_Y"])

In [10]:

ent_sez = pd.read_csv("ent by prov 2010-2016.csv").rename(columns = {"16": "6"})

In [11]:
melt_ini = pd.melt(ini_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "ini_edu_dropout")

In [12]:
melt_bas = pd.melt(bas_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "bas_edu_dropout")

In [13]:
melt_med = pd.melt(med_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "med_edu_dropout")

In [14]:
melt_inv = pd.melt(inv_sez, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "inv")

In [15]:
melt_inv["inv"] = melt_inv["inv"].apply(lambda x: np.log(x) if x !=0 else 0)

In [16]:
melt_inv.rename(columns = {"inv": "l_inv"}, inplace = True)

In [17]:
melt_ent = pd.melt(ent_sez, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "ent")

In [18]:
merge_drop = pd.merge(melt_ini, melt_bas, on = ["id", "year", "province"], how="right").merge(melt_med, on = ["id", "year", "province"], how = "right")

In [19]:
merge_sez = pd.merge(melt_inv, melt_ent, on = ["id", "year"], how = "right")

In [20]:
merge_data = pd.merge(merge_drop, merge_sez, on = ["id", "year"], how= "right")

In [21]:
merge_data["id"] = merge_data["id"].astype(int)

In [22]:
merge_data

,id,province,year,ini_edu_dropout,bas_edu_dropout,med_edu_dropout,l_inv,ent
0,0,Santiago,0,2.01,2.9,5.0,20.125000,146
1,1,Duarte,0,2.88,2.7,6.4,11.790102,1
2,2,Elías Piña,0,9.05,6.5,4.4,0.000000,0
3,3,Hato Mayor,0,4.43,4.3,4.8,0.000000,0
4,4,La Vega,0,2.69,3.4,8.3,17.530296,23
...,...,...,...,...,...,...,...,...
219,27,María Trinidad Sánchez,6,0.24,0.8,4.1,0.000000,0
220,28,Santo Domingo,6,1.72,2.0,4.4,20.706963,105
221,29,Monte Plata,6,1.75,2.8,5.5,0.000000,0
222,30,San Cristóbal,6,1.55,2.4,4.9,20.041700,60
223,31,San Pedro de Macorís,6,0.79,3.0,6.6,19.579447,47

In [23]:
merge_data.to_csv("sez_edu.csv", index= False)