In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
inicial_dropout = pd.read_csv("edu_drop_initial 2010-2020.csv").dropna().drop(columns = ["2020", 
                                                                                         "2019", 
                                                                                         "2018", 
                                                                                         "2017"])

In [4]:
ini_drop = inicial_dropout.rename(columns = {"2016":"6", 
                                             "2015":"5", 
                                             "2014":"4", 
                                             "2014":"4", 
                                             "2013":"3", 
                                             "2012":"2", 
                                             "2011":"1", 
                                             "2010":"0"})

In [5]:
 basica_dropout = pd.read_csv("edu_drop_basica 2010-2020.csv").drop(columns = ["Unnamed: 13", 
                                                                               "Unnamed: 14", 
                                                                               "Unnamed: 15", 
                                                                               "2020", 
                                                                               "2019", 
                                                                               "2018", 
                                                                               "2017"]).dropna()

In [6]:
bas_drop = basica_dropout.rename(columns = {"id ": "id",
                                            "2016":"6", 
                                            "2015":"5", 
                                            "2014":"4", 
                                            "2014":"4", 
                                            "2013":"3", 
                                            "2012":"2", 
                                            "2011":"1", 
                                            "2010":"0"})

In [7]:
crime = pd.read_csv("/Users/hendrixperalta/Downloads/Research/2. Data/ADM1_clean_csv/homicides 2008-2022.csv").drop(columns = ["homicides_2008", 
                                                                                                                               "homicides_2009", 
                                                                                                                               "homicides_2017", 
                                                                                                                               "homicides_2018", 
                                                                                                                               "homicides_2019", 
                                                                                                                               "homicides_2020", 
                                                                                                                               "homicides_2021", 
                                                                                                                               "homicides_2022", 
                                                                                                                               "shapeName"])

In [8]:
crime.rename(columns= {"homicides_2010":"0", 
                       "homicides_2011":"1", 
                       "homicides_2012":"2", 
                       "homicides_2013":"3", 
                       "homicides_2014":"4",
                       "homicides_2015":"5",
                       "homicides_2016":"6"}, inplace = True)

In [9]:
op_salary = pd.read_csv("/Users/hendrixperalta/Downloads/Research/2. Data/Zonas Francas/salary/operator salary 2010-2016.csv").drop(columns = ["shapeName"])

In [10]:
tec_salary = pd.read_csv("/Users/hendrixperalta/Downloads/Research/2. Data/Zonas Francas/salary/tech_salary 2010-2016.csv").drop(columns = ["shapeName"])

In [11]:
births = pd.read_csv("births 2001-2021.csv").drop(columns = ["shapeName",
                                                            "births_2001",
                                                            "births_2002",
                                                            "births_2003",
                                                            "births_2004",
                                                            "births_2005",
                                                            "births_2006",
                                                            "births_2007",
                                                            "births_2008",
                                                            "births_2009",
                                                            "births_2017",
                                                            "births_2018",
                                                            "births_2019",
                                                            "births_2020",
                                                            "births_2021",])

In [12]:
births.rename(columns = {"births_2010":"0",
                        "births_2011":"1",
                        "births_2012":"2",
                        "births_2013":"3",
                        "births_2014":"4",
                        "births_2015":"5",
                        "births_2016":"6",}, inplace = True)

In [13]:
deaths = pd.read_csv("child deaths 2005-2021.csv").drop(columns = ["shapeName",
                                                                  "deaths_2005",
                                                                  "deaths_2006",
                                                                  "deaths_2007",
                                                                  "deaths_2008",
                                                                  "deaths_2009",
                                                                  "deaths_2017",
                                                                  "deaths_2018",
                                                                  "deaths_2019",
                                                                  "deaths_2020",
                                                                  "deaths_2021",])

In [14]:
deaths.rename(columns = {"deaths_2010":"0",
                        "deaths_2011":"1",
                        "deaths_2012":"2",
                        "deaths_2013":"3",
                        "deaths_2014":"4",
                        "deaths_2015":"5",
                        "deaths_2016":"6"}, inplace = True)

In [15]:
pop = pd.read_csv("pop 2000-2022.csv").drop(columns = ["shapeName",
                                                      "pop_2000",
                                                      "pop_2001",
                                                      "pop_2002",
                                                      "pop_2003",
                                                      "pop_2004",
                                                      "pop_2005",
                                                      "pop_2006",
                                                      "pop_2007",
                                                      "pop_2008",
                                                      "pop_2009",
                                                      "pop_2017",
                                                      "pop_2018",
                                                      "pop_2019",
                                                      "pop_2020",
                                                      "pop_2021",
                                                      "pop_2022",])

In [16]:
pop.rename(columns = {"pop_2010":"0",
                     "pop_2011":"1",
                     "pop_2012":"2",
                     "pop_2013":"3",
                     "pop_2014":"4",
                     "pop_2015":"5",
                     "pop_2016":"6"}, inplace = True)

In [17]:
media_dropout = pd.read_csv("edu_drop_media 2010-2020.csv").drop(columns = ["Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16"]).dropna()

In [18]:
med_drop = media_dropout.rename(columns = {"provinces": "province", "2016":"6", "2015":"5", "2014":"4", "2014":"4", "2013":"3", "2012":"2", "2011":"1", "2010":"0"})

In [19]:
inv_sez = pd.read_csv("inv by prov 2010-2016.csv").drop(columns = ["shapeName", "COORD_X", "COORD_Y"])

In [20]:

ent_sez = pd.read_csv("ent by prov 2010-2016.csv").rename(columns = {"16": "6"})

In [21]:
melt_ini = pd.melt(ini_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "ini_edu_dropout")

In [22]:
melt_bas = pd.melt(bas_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "bas_edu_dropout")

In [23]:
melt_med = pd.melt(med_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "med_edu_dropout")

In [24]:
melt_inv = pd.melt(inv_sez, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "inv")

In [25]:
melt_inv["inv"] = melt_inv["inv"].apply(lambda x: np.log(x) if x !=0 else 0)

In [26]:
melt_inv.rename(columns = {"inv": "l_inv"}, inplace = True)

In [27]:
melt_ent = pd.melt(ent_sez, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "ent")

In [28]:
melt_crime = pd.melt(crime , id_vars=["id"], 
                             value_vars =["0", "1", "2", "3", "4", "5", "6"],
                             var_name = "year",
                             value_name = "crime")

In [29]:
melt_op = pd.melt(op_salary, id_vars=["id"],
                             value_vars = ["0", "1", "2", "3", "4", "5", "6"],
                             var_name = "year",
                             value_name = "op_salary")

In [30]:
melt_tec = pd.melt(tec_salary, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3", "4", "5", "6"], 
                               var_name = "year",
                               value_name = "tec_salary")

In [31]:
melt_birth = pd.melt(births, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3", "4", "5", "6"], 
                               var_name = "year",
                               value_name = "birth")

In [32]:
melt_birth["birth"] = melt_birth["birth"].str.replace(",", "").astype(int)

In [33]:
melt_death = pd.melt(deaths, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3", "4", "5", "6"], 
                               var_name = "year",
                               value_name = "c_death")

In [34]:
melt_pop = pd.melt(pop, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3", "4", "5", "6"], 
                               var_name = "year",
                               value_name = "pop")

In [35]:
merge_drop = pd.merge(melt_ini, melt_bas, on = ["id", "year", "province"], how="right").merge(melt_med, on = ["id", "year", "province"], how = "right")

In [36]:
merge_sez = pd.merge(melt_inv, melt_ent, on = ["id", "year"], how = "right")

In [37]:
merge_1 = pd.merge(merge_drop, merge_sez, on = ["id", "year"], how= "right")

In [38]:
merge_2 = pd.merge(merge_1, melt_crime, on = ["id", "year"], how="right")

In [39]:
merge_3 = pd.merge(melt_op, melt_tec, on = ["id", "year"], how = "right")

In [40]:
merge_4 = pd.merge(merge_2, merge_3, on=["id", "year"], how ="right")

In [41]:
merge_5 = pd.merge(merge_4, melt_birth, on=["id", "year"], how ="right")

In [42]:
merge_6 = pd.merge(merge_5, melt_death, on=["id", "year"], how ="right")

In [43]:
merge_7 = pd.merge(merge_6, melt_pop, on=["id", "year"], how ="right")

In [44]:
merge_data = merge_7

In [45]:
merge_data["id"] = merge_data["id"].astype(int)

In [46]:
merge_data

,id,province,year,ini_edu_dropout,bas_edu_dropout,med_edu_dropout,l_inv,ent,crime,op_salary,tec_salary,birth,c_death,pop
0,0,Santiago,0,2.01,2.9,5.0,20.125000,146.0,240.0,18488.66,34591.88,19600,434,966833
1,1,Duarte,0,2.88,2.7,6.4,11.790102,1.0,78.0,1246.15,2500.00,5286,96,290586
2,2,Elías Piña,0,9.05,6.5,4.4,0.000000,0.0,19.0,0.00,0.00,805,8,63250
3,3,Hato Mayor,0,4.43,4.3,4.8,0.000000,0.0,10.0,0.00,0.00,1364,21,85313
4,4,La Vega,0,2.69,3.4,8.3,17.530296,23.0,107.0,1466.29,3190.84,6061,61,395582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,27,María Trinidad Sánchez,6,0.24,0.8,4.1,0.000000,0.0,14.0,0.00,0.00,2417,33,141331
220,28,Santo Domingo,6,1.72,2.0,4.4,20.706963,105.0,370.0,42220.27,79247.57,31108,730,2702028
221,29,Monte Plata,6,1.75,2.8,5.5,0.000000,0.0,28.0,0.00,0.00,1800,34,189166
222,30,San Cristóbal,6,1.55,2.4,4.9,20.041700,60.0,95.0,12658.72,22158.72,8191,160,611677
223,31,San Pedro de Macorís,6,0.79,3.0,6.6,19.579447,47.0,42.0,5343.97,10911.94,5488,78,299933

In [47]:
merge_data.to_csv("sez_edu.csv", index= False)

In [48]:
df = pd.read_csv("data.csv")

In [49]:
ntl = df[["id",
        "viirs_ntl_annual_v20_avg_masked.2013.mean", 
          "viirs_ntl_annual_v20_avg_masked.2014.mean", 
          "viirs_ntl_annual_v20_avg_masked.2015.mean",
          "viirs_ntl_annual_v20_avg_masked.2016.mean"]]

In [50]:
ntl.rename(columns = {"viirs_ntl_annual_v20_avg_masked.2013.mean":"0", 
          "viirs_ntl_annual_v20_avg_masked.2014.mean":"1", 
          "viirs_ntl_annual_v20_avg_masked.2015.mean":"2",
          "viirs_ntl_annual_v20_avg_masked.2016.mean":"3"}, inplace = True)

/var/folders/9h/f8yzvgnn6gxglwwkbz6s4km00000gn/T/ipykernel_90999/3213400358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ntl.rename(columns = {"viirs_ntl_annual_v20_avg_masked.2013.mean":"0",

In [51]:
melt_ntl = pd.melt(ntl, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3"], 
                               var_name = "year",
                               value_name = "ntl")

In [52]:
tc_sal = df[["id",
            "tec_3",
            "tec_4",
            "tec_5",
            "tec_6"]]

In [53]:
tc_sal.rename(columns = {"tec_3":"0",
            "tec_4":"1",
            "tec_5":"2",
            "tec_6":"3"}, inplace = True)

/var/folders/9h/f8yzvgnn6gxglwwkbz6s4km00000gn/T/ipykernel_90999/806185550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tc_sal.rename(columns = {"tec_3":"0",

In [54]:
melt_tc = pd.melt(tc_sal, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3"], 
                               var_name = "year",
                               value_name = "tc")

In [55]:
ent = df[["id", 
         "ent_3",
         "ent_4",
         "ent_5",
         "ent_6"]]

In [56]:
ent.rename(columns = {"ent_3":"0",
         "ent_4":"1",
         "ent_5":"2",
         "ent_6":"3"}, inplace = True)

/var/folders/9h/f8yzvgnn6gxglwwkbz6s4km00000gn/T/ipykernel_90999/1114430876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ent.rename(columns = {"ent_3":"0",

In [57]:
melt_ent = pd.melt(ent, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3"], 
                               var_name = "year",
                               value_name = "ent")

In [58]:
ppp = df[["id",
         "worldpop_pop_count_1km_mosaic.2013.sum",
         "worldpop_pop_count_1km_mosaic.2014.sum",
         "worldpop_pop_count_1km_mosaic.2015.sum",
         "worldpop_pop_count_1km_mosaic.2016.sum",]]

In [59]:
ppp.rename(columns = {"worldpop_pop_count_1km_mosaic.2013.sum":"0",
         "worldpop_pop_count_1km_mosaic.2014.sum":"1",
         "worldpop_pop_count_1km_mosaic.2015.sum":"2",
         "worldpop_pop_count_1km_mosaic.2016.sum":"3"}, inplace = True)

/var/folders/9h/f8yzvgnn6gxglwwkbz6s4km00000gn/T/ipykernel_90999/2773669811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ppp.rename(columns = {"worldpop_pop_count_1km_mosaic.2013.sum":"0",

In [60]:
melt_ppp = pd.melt(ppp, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3"], 
                               var_name = "year",
                               value_name = "pop")

In [61]:
inv = df[["id",
         "inv_3",
         "inv_4",
         "inv_5",
         "inv_6",]]

In [62]:
inv.rename(columns = {"inv_3":"0",
         "inv_4":"1",
         "inv_5":"2",
         "inv_6":"3"}, inplace = True)

/var/folders/9h/f8yzvgnn6gxglwwkbz6s4km00000gn/T/ipykernel_90999/508502520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inv.rename(columns = {"inv_3":"0",

In [63]:
melt_inv = pd.melt(inv, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3"], 
                               var_name = "year",
                               value_name = "inv")

In [64]:
op_sal = df[["id",
            "op_3",
            "op_4",
            "op_5",
            "op_6"]]

In [65]:
op_sal.rename(columns = {"op_3":"0",
            "op_4":"1",
            "op_5":"2",
            "op_6":"3"}, inplace = True)

/var/folders/9h/f8yzvgnn6gxglwwkbz6s4km00000gn/T/ipykernel_90999/3380257235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  op_sal.rename(columns = {"op_3":"0",

In [66]:
melt_op = pd.melt(op_sal, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3"], 
                               var_name = "year",
                               value_name = "op")

In [67]:
mun = df[["id", "shapeName"]]

In [68]:
df

,id,shapeName,viirs_ntl_annual_v20_avg_masked.2019.mean,viirs_ntl_annual_v20_avg_masked.2014.mean,viirs_ntl_annual_v20_avg_masked.2012.mean,viirs_ntl_annual_v20_avg_masked.2016.mean,viirs_ntl_annual_v20_avg_masked.2015.mean,viirs_ntl_annual_v20_avg_masked.2013.mean,viirs_ntl_annual_v20_avg_masked.2017.mean,viirs_ntl_annual_v20_avg_masked.2020.mean,...,tec_4,tec_5,tec_6,ent_0,ent_1,ent_2,ent_3,ent_4,ent_5,ent_6
0,0,Constanza,0.401207,0.263253,0.194625,0.352943,0.299194,0.241208,0.351993,0.546144,...,0.00,0.00,0.00,0,0,0,0,0,0,0
1,1,Sabana De La Mar,0.100589,0.067296,0.063387,0.069212,0.083287,0.067278,0.085678,0.108171,...,0.00,0.00,0.00,0,0,0,0,0,0,0
2,2,Moca,2.867986,1.833166,1.374915,1.990754,2.010602,1.572900,2.311258,2.876479,...,4106.91,4287.64,4488.96,8,9,9,11,9,8,9
3,3,Bayaguana,0.128496,0.054003,0.036162,0.079397,0.042956,0.049891,0.130071,0.135144,...,0.00,0.00,0.00,0,0,0,0,0,0,0
4,4,El Factor,0.418200,0.264413,0.223998,0.269766,0.287420,0.275440,0.398318,0.506685,...,0.00,0.00,0.00,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,Isla Saona,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.00,0.00,0,0,0,0,0,0,0
158,158,Isla Catalina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.00,0.00,0,0,0,0,0,0,0
159,159,San Luis,5.708070,2.620699,2.564142,3.256599,2.993163,3.261094,4.011179,6.574012,...,0.00,0.00,0.00,0,0,0,0,0,0,0
160,160,San Victor,2.372140,1.389243,1.151131,1.424146,1.501503,1.298119,1.779796,2.600796,...,0.00,0.00,0.00,0,0,0,0,0,0,0
161,161,Matanzas,0.630202,0.526792,0.398136,0.503377,0.565816,0.510897,0.528114,1.487020,...,4004.09,5295.21,5286.29,6,6,6,5,7,7,7

In [69]:
merge = pd.merge(mun, melt_op, on = ["id"], how = "right")

In [70]:
merge_1 = pd.merge(merge, melt_inv , on = ["id", "year"], how = "right")

In [71]:
merge_2 = pd.merge(merge_1, melt_ppp, on = ["id", "year"], how = "right")

In [72]:
merge_3 = pd.merge(merge_2, melt_ent, on = ["id", "year"], how = "right")

In [73]:
merge_4 = pd.merge(merge_3, melt_tc, on = ["id", "year"], how = "right")

In [74]:
merge_5 = pd.merge(merge_4, melt_ntl, on = ["id", "year"], how = "right")

In [75]:
merge_5.to_csv("data.csv", index= False)

In [76]:
merge_5

,id,shapeName,year,op,inv,pop,ent,tc,ntl
0,0,Constanza,0,0.0,0.00,64882.167970,0,0.00,0.241208
1,1,Sabana De La Mar,0,0.0,0.00,15690.029300,0,0.00,0.067278
2,2,Moca,0,2043.0,15439930.34,118354.617200,11,3587.22,1.572900
3,3,Bayaguana,0,0.0,0.00,31123.841800,0,0.00,0.049891
4,4,El Factor,0,0.0,0.00,27863.269530,0,0.00,0.275440
...,...,...,...,...,...,...,...,...,...
643,157,Isla Saona,3,0.0,0.00,1997.416504,0,0.00,0.000000
644,158,Isla Catalina,3,0.0,0.00,339.188721,0,0.00,0.000000
645,159,San Luis,3,0.0,0.00,60370.230470,0,0.00,3.256599
646,160,San Victor,3,0.0,0.00,84292.187500,0,0.00,1.424146
647,161,Matanzas,3,2461.5,7576911.08,51284.535160,7,5286.29,0.503377