In [1]:
import pandas as pd

In [90]:
inicial_dropout = pd.read_csv("edu_drop_initial 2010-2020.csv").dropna().drop(columns = ["2020", "2019", "2018", "2017"])

In [91]:
ini_drop = inicial_dropout.rename(columns = {"2016":"6", "2015":"5", "2014":"4", "2014":"4", "2013":"3", "2012":"2", "2011":"1", "2010":"0"})

In [92]:
 basica_dropout = pd.read_csv("edu_drop_basica 2010-2020.csv").drop(columns = ["Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "2020", "2019", "2018", "2017"]).dropna()

In [108]:
bas_drop = basica_dropout.rename(columns = {"id ": "id","2016":"6", "2015":"5", "2014":"4", "2014":"4", "2013":"3", "2012":"2", "2011":"1", "2010":"0"})

In [94]:
media_dropout = pd.read_csv("edu_drop_media 2010-2020.csv").drop(columns = ["Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16"]).dropna()

In [111]:
med_drop = media_dropout.rename(columns = {"2016":"6", "2015":"5", "2014":"4", "2014":"4", "2013":"3", "2012":"2", "2011":"1", "2010":"0"})

In [95]:
inv_sez = pd.read_csv("inv by prov 2010-2016.csv").drop(columns = ["shapeName", "COORD_X", "COORD_Y"])

In [122]:

ent_sez = pd.read_csv("ent by prov 2010-2016.csv").rename(columns = {"16": "6"})

In [97]:
melt_ini = pd.melt(ini_drop, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "ini_edu_dropout")

In [109]:
melt_bas = pd.melt(bas_drop, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "bas_edu_dropout")

In [123]:
melt_med = pd.melt(med_drop, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "med_edu_dropout")

In [118]:
melt_inv = pd.melt(inv_sez, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "inv")

In [124]:
melt_ent = pd.melt(ent_sez, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "ent")

    id               shapeName    0    1    2    3    4    5    6
0    0                Santiago  146  158  160  165  178  185  192
1    1                  Duarte    1    2    2    3    3    3    3
2    2              Elías Piña    0    0    0    0    0    0    0
3    3              Hato Mayor    0    1    1    1    1    1    1
4    4                 La Vega   23   21   19   18   16   17   17
5    5         Sánchez Ramírez    0    0    0    0    0    0    0
6    6                  Samaná    0    0    0    0    0    0    0
7    7                Valverde    8    6    4    5    6    6    6
8    8                Barahona    2    2    2    2    2    2    2
9    9               La Romana    9   10   10   10   11   12   10
10  10          Monseñor Nouel    5    4    4    5    5    5    5
11  11            Monte Cristi    0    0    0    0    0    0    0
12  12              Pedernales    1    1    1    1    1    1    1
13  13                 Peravia    6    6    6    5    7    7    7
14  14            Puerto Plata    7    6    7    6    6    9   10
15  15        San José de Ocoa    0    0    0    0    0    0    0
16  16                San Juan    0    0    0    0    0    0    0
17  17      Santiago Rodríguez    0    0    0    0    0    0    0
18  18       Distrito Nacional    0    0    0    0    0    0    0
19  19                El Seibo    1    1    2    2    2    2    2
20  20               Espaillat    8    9    9   11    9    8    9
21  21        Hermanas Mirabal    0    0    0    0    0    0    0
22  22           Independencia    0    0    0    0    0    0    0
23  23                 Baoruco    0    0    0    0    0    0    0
24  24                    Azua    0    0    0    0    0    0    0
25  25                 Dajabón    0    0    0    0    0    0    0
26  26           La Altagracia    0    0    0    0    0    0    0
27  27  María Trinidad Sánchez    0    0    0    0    0    0    0
28  28           Santo Domingo  106  107   98  104  102  104  105
29  29             Monte Plata    0    0    0    0    0    0    0
30  30           San Cristóbal   57   57   57   57   60   60   60
31  31    San Pedro de Macorís   44   48   48   47   46   50   47