In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
inicial_dropout = pd.read_csv("edu_drop_initial 2010-2020.csv").dropna().drop(columns = ["2020", 
                                                                                         "2019", 
                                                                                         "2018", 
                                                                                         "2017"])

In [4]:
ini_drop = inicial_dropout.rename(columns = {"2016":"6", 
                                             "2015":"5", 
                                             "2014":"4", 
                                             "2014":"4", 
                                             "2013":"3", 
                                             "2012":"2", 
                                             "2011":"1", 
                                             "2010":"0"})

In [5]:
 basica_dropout = pd.read_csv("edu_drop_basica 2010-2020.csv").drop(columns = ["Unnamed: 13", 
                                                                               "Unnamed: 14", 
                                                                               "Unnamed: 15", 
                                                                               "2020", 
                                                                               "2019", 
                                                                               "2018", 
                                                                               "2017"]).dropna()

In [6]:
bas_drop = basica_dropout.rename(columns = {"id ": "id",
                                            "2016":"6", 
                                            "2015":"5", 
                                            "2014":"4", 
                                            "2014":"4", 
                                            "2013":"3", 
                                            "2012":"2", 
                                            "2011":"1", 
                                            "2010":"0"})

In [7]:
crime = pd.read_csv("/Users/hendrixperalta/Downloads/Research/2. Data/ADM1_clean_csv/homicides 2008-2022.csv").drop(columns = ["homicides_2008", 
                                                                                                                               "homicides_2009", 
                                                                                                                               "homicides_2017", 
                                                                                                                               "homicides_2018", 
                                                                                                                               "homicides_2019", 
                                                                                                                               "homicides_2020", 
                                                                                                                               "homicides_2021", 
                                                                                                                               "homicides_2022", 
                                                                                                                               "shapeName"])

In [8]:
crime.rename(columns= {"homicides_2010":"0", 
                       "homicides_2011":"1", 
                       "homicides_2012":"2", 
                       "homicides_2013":"3", 
                       "homicides_2014":"4",
                       "homicides_2015":"5",
                       "homicides_2016":"6"}, inplace = True)

In [9]:
op_salary = pd.read_csv("/Users/hendrixperalta/Downloads/Research/2. Data/Zonas Francas/salary/operator salary 2010-2016.csv").drop(columns = ["shapeName"])

In [10]:
tec_salary = pd.read_csv("/Users/hendrixperalta/Downloads/Research/2. Data/Zonas Francas/salary/tech_salary 2010-2016.csv").drop(columns = ["shapeName"])

In [11]:
tec_salary

    id         0         1         2         3         4         5         6
0    0  34591.88  35891.99  39013.30  40320.12  48287.01  60091.86  72326.48
1    1   2500.00   2500.00   2800.00   9675.00   8890.34   9191.44   9191.48
2    2      0.00      0.00      0.00      0.00      0.00      0.00      0.00
3    3      0.00   2800.00   3300.00   3800.00   5000.00   5000.00   5000.00
4    4   3190.84   3356.29   3686.81   3737.21   4189.40   4754.71   4671.84
5    5      0.00      0.00      0.00      0.00      0.00      0.00      0.00
6    6      0.00      0.00      0.00      0.00      0.00      0.00      0.00
7    7   3441.63   3312.50   3700.00   4437.50   4885.71   5225.38   5021.32
8    8   7600.00   6200.00   6200.00  12500.00  13700.00   6619.00   6629.00
9    9   7605.64   6760.10   7408.85   7390.63  10931.30   9693.65   7921.20
10  10  10321.73  11807.75  17373.90  14086.58  17293.67  16996.08  17125.56
11  11      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12  12   2770.00   2800.00   2800.00   3500.00   3500.00   3500.00   3145.00
13  13   3412.46   3684.90   4803.13   4141.25   4004.09   5295.21   5286.29
14  14   3522.93   3325.00   4500.00   3974.11   3575.00   3785.00   4466.67
15  15      0.00      0.00      0.00      0.00      0.00      0.00      0.00
16  16      0.00      0.00      0.00      0.00      0.00      0.00      0.00
17  17      0.00      0.00      0.00      0.00      0.00      0.00      0.00
18  18      0.00      0.00      0.00      0.00      0.00      0.00      0.00
19  19   4500.00   4800.00   3811.50   3811.50   3722.50   2875.00   3700.00
20  20   2684.83   2750.00   3550.31   3587.22   4106.91   4287.64   4488.96
21  21      0.00      0.00      0.00      0.00      0.00      0.00      0.00
22  22      0.00      0.00      0.00      0.00      0.00      0.00      0.00
23  23      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24  24      0.00      0.00      0.00      0.00      0.00      0.00      0.00
25  25      0.00      0.00      0.00      0.00      0.00      0.00      0.00
26  26      0.00      0.00      0.00      0.00      0.00      0.00      0.00
27  27      0.00      0.00      0.00      0.00      0.00      0.00      0.00
28  28  44931.77  46435.11  57090.56  62856.34  59850.17  68626.53  79247.57
29  29      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30  30  14970.78  17299.38  15428.39  16784.13  17297.53  19472.48  22158.72
31  31   7519.47   7066.64   8824.41   9847.66  10260.74  10329.40  10911.94

In [12]:
media_dropout = pd.read_csv("edu_drop_media 2010-2020.csv").drop(columns = ["Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16"]).dropna()

In [13]:
med_drop = media_dropout.rename(columns = {"provinces": "province", "2016":"6", "2015":"5", "2014":"4", "2014":"4", "2013":"3", "2012":"2", "2011":"1", "2010":"0"})

In [14]:
inv_sez = pd.read_csv("inv by prov 2010-2016.csv").drop(columns = ["shapeName", "COORD_X", "COORD_Y"])

In [15]:

ent_sez = pd.read_csv("ent by prov 2010-2016.csv").rename(columns = {"16": "6"})

In [16]:
melt_ini = pd.melt(ini_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "ini_edu_dropout")

In [17]:
melt_bas = pd.melt(bas_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "bas_edu_dropout")

In [18]:
melt_med = pd.melt(med_drop, id_vars = ["id", "province"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "med_edu_dropout")

In [19]:
melt_inv = pd.melt(inv_sez, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "inv")

In [20]:
melt_inv["inv"] = melt_inv["inv"].apply(lambda x: np.log(x) if x !=0 else 0)

In [21]:
melt_inv.rename(columns = {"inv": "l_inv"}, inplace = True)

In [22]:
melt_ent = pd.melt(ent_sez, id_vars = ["id"], value_vars = ["0", "1", "2", "3", "4", "5", "6"], var_name = "year", value_name = "ent")

In [23]:
melt_crime = pd.melt(crime , id_vars=["id"], 
                             value_vars =["0", "1", "2", "3", "4", "5", "6"],
                             var_name = "year",
                             value_name = "crime")

In [24]:
melt_op = pd.melt(op_salary, id_vars=["id"],
                             value_vars = ["0", "1", "2", "3", "4", "5", "6"],
                             var_name = "year",
                             value_name = "op_salary")

In [25]:
melt_tec = pd.melt(tec_salary, id_vars = ["id"],
                               value_vars = ["0", "1", "2", "3", "4", "5", "6"], 
                               var_name = "year",
                               value_name = "tec_salary")

In [26]:
merge_drop = pd.merge(melt_ini, melt_bas, on = ["id", "year", "province"], how="right").merge(melt_med, on = ["id", "year", "province"], how = "right")

In [27]:
merge_sez = pd.merge(melt_inv, melt_ent, on = ["id", "year"], how = "right")

In [28]:
merge_drop_sez = pd.merge(merge_drop, merge_sez, on = ["id", "year"], how= "right")

In [29]:
merge_crime = pd.merge(merge_drop_sez, melt_crime, on = ["id", "year"], how="right")

In [30]:
merge_salary = pd.merge (melt_op, melt_tec, on = ["id", "year"], how = "right")

In [31]:
merge_data = pd.merge(merge_crime, merge_salary, on=["id", "year"], how ="right")

In [32]:
merge_data["id"] = merge_data["id"].astype(int)

In [33]:
merge_data

,id,province,year,ini_edu_dropout,bas_edu_dropout,med_edu_dropout,l_inv,ent,crime,op_salary,tec_salary
0,0,Santiago,0,2.01,2.9,5.0,20.125000,146,240,18488.66,34591.88
1,1,Duarte,0,2.88,2.7,6.4,11.790102,1,78,1246.15,2500.00
2,2,Elías Piña,0,9.05,6.5,4.4,0.000000,0,19,0.00,0.00
3,3,Hato Mayor,0,4.43,4.3,4.8,0.000000,0,10,0.00,0.00
4,4,La Vega,0,2.69,3.4,8.3,17.530296,23,107,1466.29,3190.84
...,...,...,...,...,...,...,...,...,...,...,...
219,27,María Trinidad Sánchez,6,0.24,0.8,4.1,0.000000,0,14,0.00,0.00
220,28,Santo Domingo,6,1.72,2.0,4.4,20.706963,105,370,42220.27,79247.57
221,29,Monte Plata,6,1.75,2.8,5.5,0.000000,0,28,0.00,0.00
222,30,San Cristóbal,6,1.55,2.4,4.9,20.041700,60,95,12658.72,22158.72
223,31,San Pedro de Macorís,6,0.79,3.0,6.6,19.579447,47,42,5343.97,10911.94

In [34]:
merge_data.to_csv("sez_edu.csv", index= False)